// Tailwindcss Properties

// Spacing
$base__space-unit: 1.5rem;
$space-unit--xxxl: $base__space-unit * 4; // 6rem
$space-unit--xxl: $base__space-unit * 3; // 4.5rem
$space-unit--xl: $base__space-unit * 2; // 3rem
$space-unit--lg: $base__space-unit * 1.67; // 2.5rem
$space-unit--s: $base__space-unit * 0.67; // 1rem
$space-unit--xs: $base__space-unit/2; // 0.75rem
$space-unit--xxs: $base__space-unit/3; // 0.5rem

// Colors
$color__light: #ffffff;
$color__light-bis: #FDF7F2;
$color__dark: #231f20;
$color__primary: #5E5E4A;
$color__primary-invert: $color__light;
$color__primary-light: #fef3f1;
$color__primary-dark: #846D62;
$color__success: #D7D7CB;
$color__success-dark: #5E5E4A;
$color__info: #62bae9;
$color__info-light: #e6f6ff;
$color__info-dark: #aaaaaa;
$color__warning: #fff8e6;
$color__warning-invert: $color__info;
$color__warning-light: #ffeee6;
$color__overlay: rgba(49, 49, 51, 0.25);

// Fonts
$font__main: 'Lato', sans-serif;
$font__accent: 'Cinzel', serif;
$font__bold: 'CaliforniaPalms-Script', serif;
$font__weight-light: 300;
$font__weight-normal: 400;
$font__weight-medium: 500;
$font__weight-semibold: 600;
$font__weight-bold: 700;

// UI Property
$transition: all 0.3s ease-in-out;
$text__shadow: 0px 3px 1px rgba(65, 64, 66, 0.2);

// Shadow effect
$box-shadow--1: 0px 2px 8px rgba(0, 0, 0, 0.16);
$box-shadow--2: 0px 3px 6px rgba(0, 0, 0, 0.16);
$box-shadow--3: 0px 3px 4px rgba(0, 0, 0, 0.1);
$box-shadow--4: 0px 5px 6px rgba(0, 0, 0, 0.2);
$box-shadow--btn: 0px 1px 2px rgba(0, 0, 0, 0.3);
$box-shadow--card: 0px 5px 5px 1px rgba(0, 0, 0, 0.1);

// Breakpoint
$mobile__bp: 1216px;
$tablet: 768px;